{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2021-01-15",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "44c6c128-adbd-4ee4-ad93-e1c705687075"
=======
          "523ef0c7-9b0d-4bbc-bc5b-4968d51fed1d"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "b9d4d8e9-c3d9-4fd1-8cae-b4ae0d1ae6cc"
        ],
        "x-ms-correlation-request-id": [
          "b9d4d8e9-c3d9-4fd1-8cae-b4ae0d1ae6cc"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210216T185316Z:b9d4d8e9-c3d9-4fd1-8cae-b4ae0d1ae6cc"
=======
          "73a3e8e7-75d1-4ae5-8ed3-39dccae915e2"
        ],
        "x-ms-correlation-request-id": [
          "73a3e8e7-75d1-4ae5-8ed3-39dccae915e2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20210107T062445Z:73a3e8e7-75d1-4ae5-8ed3-39dccae915e2"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Feb 2021 18:53:16 GMT"
        ],
        "Content-Length": [
          "2213"
=======
          "Thu, 07 Jan 2021 06:24:45 GMT"
        ],
        "Content-Length": [
          "2082"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27\",\r\n  \"name\": \"dbaccount27\",\r\n  \"location\": \"East US 2\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"Shape\": \"Square\",\r\n    \"name\": \"test\",\r\n    \"Color\": \"Blue\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdAt\": \"2021-02-16T18:47:16.2205907Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://dbaccount27.documents.azure.com:443/\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": true,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": true,\r\n    \"virtualNetworkRules\": [],\r\n    \"EnabledApiTypes\": \"Sql\",\r\n    \"disableKeyBasedMetadataWriteAccess\": false,\r\n    \"enableFreeTier\": false,\r\n    \"enableAnalyticalStorage\": false,\r\n    \"instanceId\": \"8765b285-04bd-4602-b46d-69acd05a515d\",\r\n    \"createMode\": \"Default\",\r\n    \"databaseAccountOfferType\": \"Standard\",\r\n    \"enableCassandraConnector\": false,\r\n    \"connectorOffer\": \"\",\r\n    \"networkAclBypass\": 0,\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"BoundedStaleness\",\r\n      \"maxIntervalInSeconds\": 10,\r\n      \"maxStalenessPrefix\": 20\r\n    },\r\n    \"configurationOverrides\": {},\r\n    \"writeLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus2.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"readLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus2.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"locations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus2.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"failoverPolicies\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"failoverPriority\": 0\r\n      }\r\n    ],\r\n    \"cors\": [],\r\n    \"capabilities\": [],\r\n    \"ipRules\": [\r\n      {\r\n        \"ipAddressOrRange\": \"201.168.50.1\"\r\n      }\r\n    ],\r\n    \"backupPolicy\": {\r\n      \"type\": \"Periodic\",\r\n      \"periodicModeProperties\": {\r\n        \"backupIntervalInMinutes\": 240,\r\n        \"backupRetentionIntervalInHours\": 8,\r\n        \"backupStorageRedundancy\": 1\r\n      }\r\n    },\r\n    \"networkAclBypassResourceIds\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ecef58d4-c717-44c5-805e-62ddd5fac5ee"
=======
          "5c82913b-e12a-442e-918d-8b4f97b1986f"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d[...]
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listKeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1\",\r\n  \"name\": \"dbaccount27-1\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"M[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/listKeys?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f657c11c-02ee-48ee-9ad4-0a004117d406"
=======
          "2018bdf8-fbb1-4144-b977-69ae6f904929"
>>>>>>> 3b23ee907afb52ee1c51[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listKeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"zcynGcgfkWDuE9tKGN6Jnda6uEwUeWbNiWINakD6WjtnRx6zeGXglNfCAvremLx5VcnddOfudBWV0MlkdX56zw==\",\r\n  \"secondaryMasterKey\": \"pnCwcnlZ36KrsaQHs5Kf7N3GgF7wDUODPlm1nL00WjDLB3zSzlzPpPDfPvxlSWe3PYR6rqxwaqdgOPO8PsMyLw==\",\r\n  \"primaryReadonlyMasterKey\": \"ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==\",\r\n  \"secondaryReadonlyMasterKey\": \"6pmUXjZfjjaow5zvssjAMSmL1DlWsDPEnNwK0T5ZAKYI3oOPVWlJwErtnBGHpbrcdVBeEFpegtFq5xQuIr0J7A==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listConnectionStrings?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"zcynGcgfkWDuE9tKGN6Jnda6uEwUeWbNiWINakD6WjtnRx6zeGXglNfCAvremLx5VcnddOfudBWV0MlkdX56zw==\",\r\n  \"secondaryMasterKey\": \"pnCwcnlZ36KrsaQHs5Kf7N3GgF7wDUODPlm1nL00WjDLB3zSzlzPpPDfPvxlSWe3PYR6rqxwaqdgOPO8PsMyLw==\",\r\n  \"primaryReadonlyMasterKey\": \"7SBBwCOKcDGXS5IJoNjYPyDNX9byU9St8Pct2jOcNJIiMb9rKnTqCj5kjtKnVqEjNk6c95ytNKaboFV606zkHw==\",\r\n  \"secondaryReadonlyMasterKey\": \"6pmUXjZfjjaow5zvssjAMSmL1DlWsDPEnNwK0T5ZAKYI3oOPVWlJwErtnBGHpbrcdVBeEFpegtFq5xQuIr0J7A==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/listConnectionStrings?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "a32bce38-cc0c-4db1-bb29-10a3ef3c6577"
=======
          "998473be-0f55-4544-9b0c-4e715f0a303d"
>>>>>>> 3b23ee9[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/readonlykeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"connectionStrings\": [\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=zcynGcgfkWDuE9tKGN6Jnda6uEwUeWbNiWINakD6WjtnRx6zeGXglNfCAvremLx5VcnddOfudBWV0MlkdX56zw==;\",\r\n      \"description\": \"Primary SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=pnCwcnlZ36KrsaQHs5Kf7N3GgF7wDUODPlm1nL00WjDLB3zSzlzPpPDfPvxlSWe3PYR6rqxwaqdgOPO8PsMyLw==;\",\r\n      \"description\": \"Secondary SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==;\",\r\n      \"description\": \"Primary Read-Only SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=6pmUXjZfjjaow5zvssjAMSmL1DlWsDPEnNwK0T5ZAKYI3oOPVWlJwErtnBGHpbrcdVBeEFpegtFq5xQuIr0J7A==;\",\r\n      \"description\": \"Secondary Read-Only SQL Connection String\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/readonlykeys?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7b92b687-50bd-48b2-af1d-68298cfe8073"
=======
          "eff81a81-3906-4aeb-b420-950f63de6ac5"
>>>>>>> 3b23ee907afb52ee[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryReadonlyMasterKey\": \"ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==\",\r\n  \"secondaryReadonlyMasterKey\": \"6pmUXjZfjjaow5zvssjAMSmL1DlWsDPEnNwK0T5ZAKYI3oOPVWlJwErtnBGHpbrcdVBeEFpegtFq5xQuIr0J7A==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/regenerateKey?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyKind\": \"primaryReadonly\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "c3f7a1c9-84fa-47b2-9ad5-487777a86f6d"
=======
          "787cdbfe-759c-4481-bea1-95aa4e3292fb"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "36"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey/operationResults/6efc641e-2a96-4939-955c-e0c3ca0265c3?api-version=2021-01-15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/6efc641e-2a96-4939-955c-e0c3ca0265c3?api-version=2021-01-15"
        ],
        "x-ms-request-id": [
          "6efc641e-2a96-4939-955c-e0c3ca0265c3"
=======
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/regenerateKey/operationResults/fd4da2ac-7223-47f3-8d0d-1a89591895ff?api-version=2020-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/fd4da2ac-7223-47f3-8d0d-1a89591895ff?api-version=2020-06-01-preview"
        ],
        "x-ms-request-id": [
          "fd4da2ac-7223-47f3-8d0d-1a89591895ff"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "d18754f3-d84b-47d5-a688-a2980d7896b2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210216T185321Z:d18754f3-d84b-47d5-a688-a2980d7896b2"
=======
          "717772de-f925-408a-b859-bbcefaeff487"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20210107T062449Z:717772de-f925-408a-b859-bbcefaeff487"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Feb 2021 18:53:21 GMT"
=======
          "Thu, 07 Jan 2021 06:24:49 GMT"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Length": [
          "21"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Enqueued\"\r\n}",
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/6efc641e-2a96-4939-955c-e0c3ca0265c3?api-version=2021-01-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/ad95b89a-624f-44c4-bed2-410b39f9ea70?api-version=2021-01-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Dequeued\"\r\n}",
      "StatusCode": 200
    },
[...]
