{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2021-01-15",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "934eee93-0dc3-46de-ab56-770eb25d9185"
=======
          "d2907626-c955-427b-9dfa-06e86f871d28"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "94d43914-bad8-4d70-aa1e-8c48c37abdeb"
        ],
        "x-ms-correlation-request-id": [
          "94d43914-bad8-4d70-aa1e-8c48c37abdeb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210216T185204Z:94d43914-bad8-4d70-aa1e-8c48c37abdeb"
=======
          "8dcb21a0-3f07-42ae-90fa-30749e68b784"
        ],
        "x-ms-correlation-request-id": [
          "8dcb21a0-3f07-42ae-90fa-30749e68b784"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T061509Z:8dcb21a0-3f07-42ae-90fa-30749e68b784"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Feb 2021 18:52:03 GMT"
        ],
        "Content-Length": [
          "2224"
=======
          "Thu, 07 Jan 2021 06:15:08 GMT"
        ],
        "Content-Length": [
          "2082"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27\",\r\n  \"name\": \"dbaccount27\",\r\n  \"location\": \"East US 2\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"defaultExperience\": \"Core (SQL)\",\r\n    \"hidden-cosmos-mmspecial\": \"\",\r\n    \"CosmosAccountType\": \"Non-Production\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdAt\": \"2021-02-16T18:47:16.2205907Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://dbaccount27.documents.azure.com:443/\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": false,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": false,\r\n    \"virtualNetworkRules\": [],\r\n    \"EnabledApiTypes\": \"Sql\",\r\n    \"disableKeyBasedMetadataWriteAccess\": false,\r\n    \"enableFreeTier\": false,\r\n    \"enableAnalyticalStorage\": false,\r\n    \"instanceId\": \"8765b285-04bd-4602-b46d-69acd05a515d\",\r\n    \"createMode\": \"Default\",\r\n    \"databaseAccountOfferType\": \"Standard\",\r\n    \"enableCassandraConnector\": false,\r\n    \"connectorOffer\": \"\",\r\n    \"networkAclBypass\": 0,\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"Session\",\r\n      \"maxIntervalInSeconds\": 5,\r\n      \"maxStalenessPrefix\": 100\r\n    },\r\n    \"configurationOverrides\": {},\r\n    \"writeLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus2.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"readLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus2.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"locations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus2.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"failoverPolicies\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"failoverPriority\": 0\r\n      }\r\n    ],\r\n    \"cors\": [],\r\n    \"capabilities\": [],\r\n    \"ipRules\": [],\r\n    \"backupPolicy\": {\r\n      \"type\": \"Periodic\",\r\n      \"periodicModeProperties\": {\r\n        \"backupIntervalInMinutes\": 240,\r\n        \"backupRetentionIntervalInHours\": 8,\r\n        \"backupStorageRedundancy\": 1\r\n      }\r\n    },\r\n    \"networkAclBypassResourceIds\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1\",\r\n  \"name\": \"dbaccount27-1\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"Color\": \"Blue\",\r\n    \"name\": \"test\",\r\n    \"Shape\": \"Square\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdAt\": \"2020-08-06T20:40:50.4209682Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://dbaccount27-1.documents.azure.com:443/\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": true,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": true,\r\n    \"virtualN[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "0226982c-a3e5-41f1-bf2b-92bdb30241af"
=======
          "e28a8b01-1d99-4974-99de-e478e70071e5"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d[...]
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "90c4d60f-1fe7-418c-94b5-d7794f0804af"
=======
          "743556af-d525-4039-8272-8301a594ee98"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11994"
        ],
        "x-ms-request-id": [
          "03fd6537-b9f5-4813-baca-4343e9d8f0d2"
        ],
        "x-ms-correlation-request-id": [
          "03fd6537-b9f5-4813-baca-4343e9d8f0d2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210216T185239Z:03fd6537-b9f5-4813-baca-4343e9d8f0d2"
=======
          "11995"
        ],
        "x-ms-request-id": [
          "5e9a2c56-1199-4b82-9c9f-9306e0683eca"
        ],
        "x-ms-correlation-request-id": [
          "5e9a2c56-1199-4b82-9c9f-9306e0683eca"
        ][...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2021-01-15",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"Shape\": \"Square\",\r\n    \"name\": \"test\",\r\n    \"Color\": \"Blue\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"BoundedStaleness\",\r\n      \"maxStalenessPrefix\": 20,\r\n      \"maxIntervalInSeconds\": 10\r\n    },\r\n    \"locations\": [\r\n      {\r\n        \"locationName\": \"East US 2\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"ipRules\": [\r\n      {\r\n        \"ipAddressOrRange\": \"201.168.50.1\"\r\n      }\r\n    ],\r\n    \"isVirtualNetworkFilterEnabled\": true,\r\n    \"enableAutomaticFailover\": true,\r\n    \"networkAclBypass\": \"None\",\r\n    \"networkAclBypassResourceIds\": []\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1\",\r\n  \"name\": \"dbaccount27-1\",\r\n  \"loca[...]
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/48c2d3e7-b6eb-4aa2-b465-23934eed4a6e?api-version=2021-01-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
=======
        "x-ms-request-id": [
          "3ab5db33-048c-4277-9928-0cf84c4a328b"
        ],
        "x-ms-correlation-request-id": [
          "3ab5db33-048c-4277-9928-0cf84c4a328b"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T061511Z:3ab5db33-048c-4277-9928-0cf84c4a328b"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Feb 2021 18:52:38 GMT"
        ],
        "Content-Length": [
          "22"
=======
          "Thu, 07 Jan 2021 06:15:10 GMT"
        ],
        "Content-Length": [
          "2082"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listKeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1\",\r\n  \"name\": \"dbaccount27-1\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"M[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/listKeys?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "21144bf0-b7a8-4695-afd0-df4bf1ffe61d"
=======
          "8ee2b8db-6fcd-49ae-8c74-2db7258f9e51"
>>>>>>> 3b23ee907afb52ee1c51[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listKeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"zcynGcgfkWDuE9tKGN6Jnda6uEwUeWbNiWINakD6WjtnRx6zeGXglNfCAvremLx5VcnddOfudBWV0MlkdX56zw==\",\r\n  \"secondaryMasterKey\": \"pnCwcnlZ36KrsaQHs5Kf7N3GgF7wDUODPlm1nL00WjDLB3zSzlzPpPDfPvxlSWe3PYR6rqxwaqdgOPO8PsMyLw==\",\r\n  \"primaryReadonlyMasterKey\": \"ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==\",\r\n  \"secondaryReadonlyMasterKey\": \"2G3EH55P2NUtMkLnLgblJGiW1oDF8LoxlOS7AmpVnioHrxJOWGsbBRRXIf3pyyGHlkuRzsitV3X6tLBj5nwDUw==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listConnectionStrings?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"zcynGcgfkWDuE9tKGN6Jnda6uEwUeWbNiWINakD6WjtnRx6zeGXglNfCAvremLx5VcnddOfudBWV0MlkdX56zw==\",\r\n  \"secondaryMasterKey\": \"pnCwcnlZ36KrsaQHs5Kf7N3GgF7wDUODPlm1nL00WjDLB3zSzlzPpPDfPvxlSWe3PYR6rqxwaqdgOPO8PsMyLw==\",\r\n  \"primaryReadonlyMasterKey\": \"ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==\",\r\n  \"secondaryReadonlyMasterKey\": \"6pmUXjZfjjaow5zvssjAMSmL1DlWsDPEnNwK0T5ZAKYI3oOPVWlJwErtnBGHpbrcdVBeEFpegtFq5xQuIr0J7A==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/listConnectionStrings?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "0c8f5582-6365-4352-89f1-0d9d775c3c37"
=======
          "6fc605e9-e952-4baf-befc-4f329b93bfbf"
>>>>>>> 3b23ee9[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/readonlykeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"connectionStrings\": [\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=zcynGcgfkWDuE9tKGN6Jnda6uEwUeWbNiWINakD6WjtnRx6zeGXglNfCAvremLx5VcnddOfudBWV0MlkdX56zw==;\",\r\n      \"description\": \"Primary SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=pnCwcnlZ36KrsaQHs5Kf7N3GgF7wDUODPlm1nL00WjDLB3zSzlzPpPDfPvxlSWe3PYR6rqxwaqdgOPO8PsMyLw==;\",\r\n      \"description\": \"Secondary SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==;\",\r\n      \"description\": \"Primary Read-Only SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27-1.documents.azure.com:443/;AccountKey=2G3EH55P2NUtMkLnLgblJGiW1oDF8LoxlOS7AmpVnioHrxJOWGsbBRRXIf3pyyGHlkuRzsitV3X6tLBj5nwDUw==;\",\r\n      \"description\": \"Secondary Read-Only SQL Connection String\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/readonlykeys?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ff5a8ed1-3f44-4031-bb7a-f693dbc2b90c"
=======
          "bface6fa-2ed9-4c80-ba79-78f338812e2a"
>>>>>>> 3b23ee907afb52ee[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryReadonlyMasterKey\": \"ndGB7P7Q4yTnDr2IK6HxW3NVT2lRLABYmynfmFwZQowzjdODtIwhg0OYiKalzFWhBwUuF01PYWf4tO5bAbDGtQ==\",\r\n  \"secondaryReadonlyMasterKey\": \"2G3EH55P2NUtMkLnLgblJGiW1oDF8LoxlOS7AmpVnioHrxJOWGsbBRRXIf3pyyGHlkuRzsitV3X6tLBj5nwDUw==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/regenerateKey?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyKind\": \"secondaryReadonly\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "9718b4b6-f447-49b4-9006-cf3a2b9ab69d"
=======
          "d081f63b-3ae0-44c4-9492-bcb17c2d6b1f"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "38"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey/operationResults/88669713-36ab-4640-b121-b13c4ae49a36?api-version=2021-01-15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/88669713-36ab-4640-b121-b13c4ae49a36?api-version=2021-01-15"
        ],
        "x-ms-request-id": [
          "88669713-36ab-4640-b121-b13c4ae49a36"
=======
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27-1/regenerateKey/operationResults/1ea50624-ebc2-4197-aa54-96de48882ff9?api-version=2020-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/1ea50624-ebc2-4197-aa54-96de48882ff9?api-version=2020-06-01-preview"
        ],
        "x-ms-request-id": [
          "1ea50624-ebc2-4197-aa54-96de48882ff9"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "dade9124-1f35-4da0-9453-286b12139c40"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210216T185241Z:dade9124-1f35-4da0-9453-286b12139c40"
=======
          "6a0cd92d-44c6-4b93-a9d2-ddc568ede94c"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T06[...]
