{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourcegroups/CosmosDBResourceGroup91?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourcegroups/CosmosDBResourceGroup32?api-version=2016-09-01",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "354fa8cb-14fa-4e84-a494-6a968e6c610a"
=======
          "612275b3-9665-472f-8627-d3087607fceb"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.31"
=======
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "8925a61c-2d97-4567-9924-1daacb3aecc2"
        ],
        "x-ms-correlation-request-id": [
          "8925a61c-2d97-4567-9924-1daacb3aecc2"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210222T231732Z:8925a61c-2d97-4567-9924-1daacb3aecc2"
=======
          "cb9dbd39-a001-488b-914a-643e91dd6b50"
        ],
        "x-ms-correlation-request-id": [
          "cb9dbd39-a001-488b-914a-643e91dd6b50"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20210108T001124Z:cb9dbd39-a001-488b-914a-643e91dd6b50"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 22 Feb 2021 23:17:32 GMT"
=======
          "Fri, 08 Jan 2021 00:11:24 GMT"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Length": [
          "199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91\",\r\n  \"name\": \"CosmosDBResourceGroup91\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32\",\r\n  \"name\": \"CosmosDBResourceGroup32\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb32-3?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b8965d3d-110a-47d7-9ec8-c7e3f6539a7b"
=======
          "bb3f2d14-fd19-42f4-a399-4d112f3fd18a"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "1976579a-d332-4a2f-a032-bddc0f3bd1fd"
        ],
        "x-ms-correlation-request-id": [
          "1976579a-d332-4a2f-a032-bddc0f3bd1fd"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210222T231733Z:1976579a-d332-4a2f-a032-bddc0f3bd1fd"
=======
          "e7b004d7-33bf-417b-906b-90eb530fd4a3"
        ],
        "x-ms-correlation-request-id": [
          "e7b004d7-33bf-417b-906b-90eb530fd4a3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20210108T001125Z:e7b004d7-33bf-417b-906b-90eb530fd4a3"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 22 Feb 2021 23:17:32 GMT"
=======
          "Fri, 08 Jan 2021 00:11:24 GMT"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "247"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DocumentDB/databaseAccounts/cosmosdb678901' under resource group 'CosmosDBResourceGroup91' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb32-3?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
<<<<<<< HEAD
          "86ec07d0-847f-4fe8-994e-4e4f99713543"
        ],
        "x-ms-correlation-request-id": [
          "86ec07d0-847f-4fe8-994e-4e4f99713543"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210222T231838Z:86ec07d0-847f-4fe8-994e-4e4f99713543"
=======
          "11638313-fd6c-4bf8-bab6-8aea4b159bca"
        ],
        "x-ms-correlation-request-id": [
          "11638313-fd6c-4bf8-bab6-8aea4b159bca"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20210108T001301Z:11638313-fd6c-4bf8-bab6-8aea4b159bca"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 22 Feb 2021 23:18:38 GMT"
        ],
        "Content-Length": [
          "2233"
=======
          "Fri, 08 Jan 2021 00:13:01 GMT"
        ],
        "Content-Length": [
          "2130"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901\",\r\n  \"name\": \"cosmosdb678901\",\r\n  \"location\": \"East US\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"MongoDB\",\r\n  \"tags\": {\r\n    \"Color\": \"Blue\",\r\n    \"Shape\": \"Square\",\r\n    \"name\": \"test\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdAt\": \"2021-02-22T23:18:06.0539326Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://cosmosdb678901.documents.azure.com:443/\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": true,\r\n    \"enableMultipleWriteLocations\": true,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": true,\r\n    \"virtualNetworkRules\": [],\r\n    \"EnabledApiTypes\": \"MongoDB\",\r\n    \"disableKeyBasedMetadataWriteAccess\": false,\r\n    \"enableFreeTier\": false,\r\n    \"enableAnalyticalStorage\": false,\r\n    \"instanceId\": \"2d52a9e1-0cd0-4fbe-ba8f-a3d15ee1e584\",\r\n    \"createMode\": \"Default\",\r\n    \"databaseAccountOfferType\": \"Standard\",\r\n    \"networkAclBypass\": 1,\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"BoundedStaleness\",\r\n      \"maxIntervalInSeconds\": 10,\r\n      \"maxStalenessPrefix\": 20\r\n    },\r\n    \"apiProperties\": {\r\n      \"serverVersion\": \"3.2\"\r\n    },\r\n    \"configurationOverrides\": {\r\n      \"EnableBsonSchema\": \"True\"\r\n    },\r\n    \"writeLocations\": [\r\n      {\r\n        \"id\": \"cosmosdb678901-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"documentEndpoint\": \"https://cosmosdb678901-eastus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"readLocations\": [\r\n      {\r\n        \"id\": \"cosmosdb678901-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"documentEndpoint\": \"https://cosmosdb678901-eastus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"locations\": [\r\n      {\r\n        \"id\": \"cosmosdb678901-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"documentEndpoint\": \"https://cosmosdb678901-eastus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"failoverPolicies\": [\r\n      {\r\n        \"id\": \"cosmosdb678901-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"failoverPriority\": 0\r\n      }\r\n    ],\r\n    \"cors\": [],\r\n    \"capabilities\": [],\r\n    \"ipRules\": [\r\n      {\r\n        \"ipAddressOrRange\": \"201.168.50.1\"\r\n      }\r\n    ],\r\n    \"backupPolicy\": {\r\n      \"type\": \"Periodic\",\r\n      \"periodicModeProperties\": {\r\n        \"backupIntervalInMinutes\": 480,\r\n        \"backupRetentionIntervalInHours\": 16,\r\n        \"backupStorageRedundancy\": 1\r\n      }\r\n    },\r\n    \"networkAclBypassResourceIds\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/a6b72b32-e137-4161-8886-a4bce3e6bd48?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "Microsoft.Azure.Management.CosmosDB.CosmosD[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/a6b72b32-e137-4161-8886-a4bce3e6bd48?api-version=2020-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/94576f5d-1307-4168-96f0-631e9c2e52b3?api-version=2021-01-15"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "dbdee653-05e6-48e5-aaf3-5a26657f654d"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210222T231737Z:dbdee653-05e6-48e5-aaf3-5a26657f654d"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-ms-request-id": [
          "d4d24ffa-59c8-40f8-848a-8a19c5c7cda3"
        ],
        "x-ms-correlation-request-id": [
          "d4d24ffa-59c8-40f8-848a-8a19c5c7cda3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20210108T001301Z:d4d24ffa-59c8-40f8-848a-8a19c5c7cda3"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 22 Feb 2021 23:17:36 GMT"
=======
          "Fri, 08[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/94576f5d-1307-4168-96f0-631e9c2e52b3?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount32-1\",\r\n  \"name\": \"dbaccount32-1\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"defaultExperience\": \"Core (SQL)\",\r\n    \"hidden-cosmos-mmspecial\": \"\",\r\n    \"CosmosAccountType\": \"Non-Production\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdAt\": \"2021-01-08T00:10:14.3490612Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://dbaccount32-1.documents.azure.com:443/\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": false,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": false,\r\n    [...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount32-1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "Microsoft.Azure.Management.CosmosDB.CosmosDB[...]
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/50bfa1b8-eb97-4eea-8391-aa3047b99c44?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "Microsoft.Azure.Management.CosmosDB.CosmosD[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901/listKeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"MVGKpQtE6LznhF4p25BnJC9AnX13cR1BQTantFgIOwDfPThgvSd6clHiT946fxRTn03WeAy7wkCvJAQM2l1l2w==\",\r\n  \"secondaryMasterKey\": \"qFNHJ7N3NhipYf0I5evKHoUyO5UuLx4vNXwz3uTJ3hfQGc7EUbEtq7lzGaLFsN9hfjajudT5cr7fzQm8uwkcbw==\",\r\n  \"primaryReadonlyMasterKey\": \"XGKL895LvfQlUxjchmcOENZOduDp4t23stONmjpAQuNdgIngpB9NQSci2DgTKgGfzCBezldGZHRB6rZXpo28rg==\",\r\n  \"secondaryReadonlyMasterKey\": \"bZbKghiw0OLWVaHP9SDdQF9jW2XQH35PFEJ7aKqOFZHstBQI2nPghHJsxIIHGAHAGbweV7vPA9Hsz4kEUxLQxQ==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb32-3/listKeys?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "126e77bb-709b-4ba2-8d5b-20b2cd0d1dd2"
=======
          "129e4cf3-4232-4736-ae0b-345c2616eaad"
>>>>>>> 3b23ee907afb52ee1c513[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901/listConnectionStrings?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"dPdMoNZhG1gSEVjFBmZXhzjjCqlWoD2SukoR3VkrAbqyAc8vRnDlsGjDf7QsYszuCST5PTOLDPVHytAUfSRADA==\",\r\n  \"secondaryMasterKey\": \"qFNHJ7N3NhipYf0I5evKHoUyO5UuLx4vNXwz3uTJ3hfQGc7EUbEtq7lzGaLFsN9hfjajudT5cr7fzQm8uwkcbw==\",\r\n  \"primaryReadonlyMasterKey\": \"XGKL895LvfQlUxjchmcOENZOduDp4t23stONmjpAQuNdgIngpB9NQSci2DgTKgGfzCBezldGZHRB6rZXpo28rg==\",\r\n  \"secondaryReadonlyMasterKey\": \"bZbKghiw0OLWVaHP9SDdQF9jW2XQH35PFEJ7aKqOFZHstBQI2nPghHJsxIIHGAHAGbweV7vPA9Hsz4kEUxLQxQ==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb32-3/listConnectionStrings?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "39bf46b3-e5b7-44fb-b0f2-f45178db2f27"
=======
          "7ada94e2-dcec-43de-b056-82706e145804"
>>>>>>> 3b23ee90[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901/readonlykeys?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"connectionStrings\": [\r\n    {\r\n      \"connectionString\": \"mongodb://cosmosdb32-3:MVGKpQtE6LznhF4p25BnJC9AnX13cR1BQTantFgIOwDfPThgvSd6clHiT946fxRTn03WeAy7wkCvJAQM2l1l2w==@cosmosdb32-3.documents.azure.com:10255/?ssl=true&replicaSet=globaldb\",\r\n      \"description\": \"Primary MongoDB Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"mongodb://cosmosdb32-3:qFNHJ7N3NhipYf0I5evKHoUyO5UuLx4vNXwz3uTJ3hfQGc7EUbEtq7lzGaLFsN9hfjajudT5cr7fzQm8uwkcbw==@cosmosdb32-3.documents.azure.com:10255/?ssl=true&replicaSet=globaldb\",\r\n      \"description\": \"Secondary MongoDB Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"mongodb://cosmosdb32-3:XGKL895LvfQlUxjchmcOENZOduDp4t23stONmjpAQuNdgIngpB9NQSci2DgTKgGfzCBezldGZHRB6rZXpo28rg==@cosmosdb32-3.documents.azure.com:10255/?ssl=true&replicaSet=globaldb\",\r\n      \"description\": \"Primary Read-Only MongoDB Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"mongodb://cosmosdb32-3:bZbKghiw0OLWVaHP9SDdQF9jW2XQH35PFEJ7aKqOFZHstBQI2nPghHJsxIIHGAHAGbweV7vPA9Hsz4kEUxLQxQ==@cosmosdb32-3.documents.azure.com:10255/?ssl=true&replicaSet=globaldb\",\r\n      \"description\": \"Secondary Read-Only MongoDB Connection String\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb32-3/readonlykeys?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ddbcc8c4-5e5d-404f-96af-31cc8a3cbc7d"
=======
          "16363574-55e6-4100-a4a7-e898e318bcb2"
>>>>>>> 3b23ee907afb52ee1[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901/regenerateKey?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"primaryReadonlyMasterKey\": \"XGKL895LvfQlUxjchmcOENZOduDp4t23stONmjpAQuNdgIngpB9NQSci2DgTKgGfzCBezldGZHRB6rZXpo28rg==\",\r\n  \"secondaryReadonlyMasterKey\": \"bZbKghiw0OLWVaHP9SDdQF9jW2XQH35PFEJ7aKqOFZHstBQI2nPghHJsxIIHGAHAGbweV7vPA9Hsz4kEUxLQxQ==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup32/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb32-3/regenerateKey?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyKind\": \"primary\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "126e77bb-709b-4ba2-8d5b-20b2cd0d1dd2"
=======
          "dad6dde9-6bc6-4a3c-8dbf-7a09f151eaca"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup91/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb678901/regenerateKey/operationResults/98fdb56d-5ebe-4dc9-a2fe-15e184f8323b?api-version=2021-01-15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/eastus/operationsStatu[...]
