{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/table1?api-version=2021-01-15",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "80dc5e49-4559-4809-aef8-9358ab6626a5"
=======
          "4e82f7d0-45f0-49eb-b74d-3be4a90e247a"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "aabc8f41-fcdd-4c3c-9569-33027d96ccd4"
        ],
        "x-ms-correlation-request-id": [
          "aabc8f41-fcdd-4c3c-9569-33027d96ccd4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210213T032340Z:aabc8f41-fcdd-4c3c-9569-33027d96ccd4"
=======
          "bcfbd930-4bdb-4cb9-aaee-93bd19544e38"
        ],
        "x-ms-correlation-request-id": [
          "bcfbd930-4bdb-4cb9-aaee-93bd19544e38"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T033358Z:bcfbd930-4bdb-4cb9-aaee-93bd19544e38"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 13 Feb 2021 03:23:39 GMT"
        ],
        "Content-Length": [
          "1791"
=======
          "Thu, 07 Jan 2021 03:33:57 GMT"
        ],
        "Content-Length": [
          "1785"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Message: {\\\"code\\\":\\\"NotFound\\\",\\\"message\\\":\\\"Message: {\\\\\\\"Errors\\\\\\\":[\\\\\\\"Resource Not Found. Learn more: https:\\\\\\\\/\\\\\\\\/aka.ms\\\\\\\\/cosmosdb-tsg-not-found\\\\\\\"]}\\\\r\\\\nActivityId: 80dc5e49-4559-4809-aef8-9358ab6626a5, Request URI: /apps/14f20595-004b-43ef-a720-15e702d0d3bd/services/14f8b77f-8e14-4962-a5f2-94f4941ac15d/partitions/e1ea70d5-0cf9-407a-ae94-ca29b2bfa572/replicas/132521264027090247s, RequestStats: \\\\r\\\\nRequestStartTime: 2021-02-13T03:23:40.0077442Z, RequestEndTime: 2021-02-13T03:23:40.0077442Z,  Number of regions attempted:1[...]
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Mic[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/table1?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts/tables\",\r\n  \"name\": \"table1\",\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"id\": \"table1\",\r\n      \"_rid\": \"NWxiAMBmn1Q=\",\r\n      \"_etag\": \"\\\"00000000-0000-0000-e4a5-f294e80701d6\\\"\",\r\n      \"_ts\": 1609990444\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"id\": \"table1\"\r\n    },\r\n    \"options\": {\r\n      \"throughput\": 500\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "80dc5e49-4559-4809-aef8-9358ab6626a5"
=======
          "5b3aed0c-96c8-4e1b-919b-e0a9c0c7e7dc"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "127"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/table1/operationResults/9da42ba7-0600-4f89-beea-8ac301b4968e?api-version=2021-01-15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/9da42ba7-0600-4f89-beea-8ac301b4968e?api-version=2021-01-15"
        ],
        "x-ms-request-id": [
          "9da42ba7-0600-4f89-beea-8ac301b4968e"
=======
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1/operationResults/abdd6d36-d68d-463f-92b8-486848eede7b?api-version=2020-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/abdd6d36-d68d-463f-92b8-486848eede7b?api-version=2020-06-01-preview"
        ],
        "x-ms-request-id": [
          "abdd6d36-d68d-463f-92b8-486848eede7b"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "09d40e19-88b5-4c6d-8b3a-00abeabe3af4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210213T032340Z:09d40e19-88b5-4c6d-8b3a-00abeabe3af4"
=======
          "daf39426-d9f4-490d-b5e1-785d36b9c62d"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T033359Z:daf39426-d9f4-490d-b5e1-785d36b9c62d"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 13 Feb 2021 03:23:40 GMT"
=======
          "Thu, 07 Jan 2021 03:33:58 GMT"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Length": [
          "21"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Enqueued\"\r\n}",
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/table1?api-version=2021-01-15",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1?api-version=2020-06-01-pre[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/table1/throughputSettings/default?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1/throughputSettings/default\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts/tables/throughputSettings\",\r\n  \"name\": \"SmZA\",\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"throughput\": 500,\r\n      \"minimumThroughput\": \"400\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1/throughputSettings/default?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "54c69a0f-d72c-4dde-9821-c1337c246a57"
=======
          "e11cea81-04a2-4476-8865-8b27d7925bef[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/23934508-1064-4dbf-9da7-1a6a1b394988?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1/throughputSettings/default\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts/tables/throughputSettings\",\r\n  \"name\": \"SmZA\",\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"throughput\": 600,\r\n      \"minimumThroughput\": \"400\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/2376740f-b53e-4d8e-84e3-1be164746758?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Message: {\\\"code\\\":\\\"NotFound\\\",\\\"message\\\":\\\"Message: {\\\\\\\"Errors\\\\\\\":[\\\\\\\"Resource Not Found. Learn more: https:\\\\\\\\/\\\\\\\\/aka.ms\\\\\\\\/cosmosdb-tsg-not-found\\\\\\\"]}\\\\r\[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ececc94b-ebb0-4c4c-8ac9-2bd497b452ee"
=======
          "8a8c708e-9e7a-4354-b75a-ea02f802c814"
>>>>>>> 3b23ee907afb52ee1c513e22[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/table1?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/table-db2527/tables/table1\",\r\n      \"type\": \"Microsoft.DocumentDB/databaseAccounts/tables\",\r\n      \"name\": \"table1\",\r\n      \"properties\": {\r\n        \"resource\": {\r\n          \"id\": \"table1\",\r\n          \"_rid\": \"NWxiAMBmn1Q=\",\r\n          \"_etag\": \"\\\"00000000-0000-0000-e4a5-f294e80701d6\\\"\",\r\n          \"_ts\": 1609990444\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
