{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/tableName3?api-version=2021-01-15",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e5270384-b486-44b5-a496-87af51b1dc5c"
=======
          "05e9da68-fa42-47f7-9e69-5cf128c469af"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "5380cbdd-40d7-4552-87b7-9e5f2a35a2aa"
        ],
        "x-ms-correlation-request-id": [
          "5380cbdd-40d7-4552-87b7-9e5f2a35a2aa"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210213T032027Z:5380cbdd-40d7-4552-87b7-9e5f2a35a2aa"
=======
          "bec588e7-cdbe-43a2-afad-d835cc2d9d32"
        ],
        "x-ms-correlation-request-id": [
          "bec588e7-cdbe-43a2-afad-d835cc2d9d32"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T072706Z:bec588e7-cdbe-43a2-afad-d835cc2d9d32"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 13 Feb 2021 03:20:26 GMT"
        ],
        "Content-Length": [
          "1795"
=======
          "Thu, 07 Jan 2021 07:27:05 GMT"
        ],
        "Content-Length": [
          "1737"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Message: {\\\"code\\\":\\\"NotFound\\\",\\\"message\\\":\\\"Message: {\\\\\\\"Errors\\\\\\\":[\\\\\\\"Resource Not Found. Learn more: https:\\\\\\\\/\\\\\\\\/aka.ms\\\\\\\\/cosmosdb-tsg-not-found\\\\\\\"]}\\\\r\\\\nActivityId: e5270384-b486-44b5-a496-87af51b1dc5c, Request URI: /apps/14f20595-004b-43ef-a720-15e702d0d3bd/services/14f8b77f-8e14-4962-a5f2-94f4941ac15d/partitions/e1ea70d5-0cf9-407a-ae94-ca29b2bfa572/replicas/132521264027090247s, RequestStats: \\\\r\\\\nRequestStartTime: 2021-02-13T03:20:27.6790264Z, RequestEndTime: 2021-02-13T03:20:27.6790264Z,  Number of regions attempted:1[...]
[...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Mic[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/tableName3?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts/tables\",\r\n  \"name\": \"tableName3\",\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"id\": \"tableName3\",\r\n      \"_rid\": \"YgIJAP9t3vQ=\",\r\n      \"_etag\": \"\\\"00000000-0000-0000-e4c6-8510cc0701d6\\\"\",\r\n      \"_ts\": 1610004434\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"id\": \"tableName3\"\r\n    },\r\n    \"options\": {\r\n      \"throughput\": 1200\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e5270384-b486-44b5-a496-87af51b1dc5c"
=======
          "a2ff886e-db07-4b2f-99db-0480b9103606"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/2.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.3.3.0"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "132"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/tableName3/operationResults/bac6b491-0677-4bc9-a3f6-c43713a3b9a8?api-version=2021-01-15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/bac6b491-0677-4bc9-a3f6-c43713a3b9a8?api-version=2021-01-15"
        ],
        "x-ms-request-id": [
          "bac6b491-0677-4bc9-a3f6-c43713a3b9a8"
=======
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3/operationResults/4dda5d5b-1551-44e4-b05c-1e961e51bc4e?api-version=2020-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/4dda5d5b-1551-44e4-b05c-1e961e51bc4e?api-version=2020-06-01-preview"
        ],
        "x-ms-request-id": [
          "4dda5d5b-1551-44e4-b05c-1e961e51bc4e"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "baf32230-18c4-41b3-97b9-f531236ae52f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20210213T032028Z:baf32230-18c4-41b3-97b9-f531236ae52f"
=======
          "aaa11bb0-21b4-4cbd-b940-38ab9c6ea4b4"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210107T072707Z:aaa11bb0-21b4-4cbd-b940-38ab9c6ea4b4"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 13 Feb 2021 03:20:27 GMT"
=======
          "Thu, 07 Jan 2021 07:27:07 GMT"
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
        ],
        "Content-Length": [
          "21"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Enqueued\"\r\n}",
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/bac6b491-0677-4bc9-a3f6-c43713a3b9a8?api-version=2021-01-15",
=======
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/4dda5d5b-1551-44e4-b05c-1e961e51bc4e?api-version=2020-06-01-preview",
>>>>>>> 3b23e[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup2510/providers/Microsoft.DocumentDB/databaseAccounts/db2527/tables/tableName3/throughputSettings/default?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3/throughputSettings/default\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts/tables/throughputSettings\",\r\n  \"name\": \"l7hw\",\r\n  \"properties\": {\r\n    \"resource\": {\r\n      \"throughput\": 1200,\r\n      \"minimumThroughput\": \"400\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29/tables/tableName3/throughputSettings/default?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.1[...]
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/4c067093-727d-4312-b680-917b444b83fd?api-version=2021-01-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBResourceGroup29/providers/Microsoft.DocumentDB/databaseAccounts/table-29\",\r\n  \"name\": \"table-29\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"defaultExperience\": \"Azure Table\",\r\n    \"hidden-cosmos-mmspecial\": \"\",\r\n    \"CosmosAccountType\": \"Non-Production\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdAt\": \"2021-01-07T07:14:34.428725Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://table-29.documents.azure.com:443/\",\r\n    \"tableEndpoint\": \"https://table-29.table.cosmos.azure.com:443/\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": false,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": false,\r\n    \"virtualNetworkRules\": [],\r\n    \"EnabledApiTypes\": \"Table, Sql\",\r\n    \"disableKeyBasedMetadataWriteAccess\": false,\r\n    \"enableFreeTier\": false,\r\n    \"enableAnalyticalStorage\": false,\r\n    \"instanceId\": \"2741b44d-b50a-49c6-840c-a9777aa78ea3\",\r\n    \"createMode\": \"Default\",\r\n    \"databaseAccountOfferType\": \"Standard\",\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"BoundedStaleness\",\r\n      \"maxIntervalInSeconds\": 86400,\r\n      \"maxStalenessPrefix\": 1000000\r\n    },\r\n    \"configurationOverrides\": {},\r\n    \"writeLocations\": [\r\n      {\r\n        \"id\": \"table-29-westus\",\r\n        \"locationName\": \"West US\",\r\n        \"documentEndpoint\": \"https://table-29-westus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"readLocations\": [\r\n      {\r\n        \"id\": \"table-29-westus\",\r\n        \"locationName\": \"West US\",\r\n        \"documentEndpoint\": \"https://table-29-westus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"locations\": [\r\n      {\r\n        \"id\": \"table-29-westus\",\r\n        \"locationName\": \"West US\",\r\n        \"documentEndpoint\": \"https://table-29-westus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"failoverPolicies\": [\r\n      {\r\n        \"id\": \"table-29-westus\",\r\n        \"locationName\": \"West US\",\r\n        \"failoverPriority\": 0\r\n      }\r\n    ],\r\n    \"cors\": [],\r\n    \"capabilities\": [\r\n      {\r\n        \"name\": \"EnableTable\"\r\n      }\r\n    ],\r\n    \"ipRules\": [],\r\n    \"backupPolicy\": {\r\n      \"type\": \"Periodic\",\r\n      \"periodicModeProperties\": {\r\n        \"backupIntervalInMinutes\": 240,\r\n        \"backupRetentionIntervalInHours\": 8\r\n      }\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/e681b9c0-c66c-41ce-962c-46f2b746e16c?api-version=2020-06-01-preview",
>>>>>>> 3b23ee907afb52ee1c513e22b27a8d0c5accb859
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.29719.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure[...]
